html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

img.page {
    max-height: 100%;
    max-width: 100%;
}

div.page-img-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.page-img-list-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div.page-container {
    height: calc(100% - 60px);
    width: 100%;
    text-align: center;
    position: relative;
}

div.page-container>a {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
}

.prev-controller {
    left: 0;
    right: 50%;
}

.next-controller {
    right: 0;
    left: 50%;
}

header,
footer {
    height: 30px;
    font-size: 18px;
    display: flex;
    margin: 0 15px;
    justify-content: space-between;
}

.flex-space {
    display: flex;
    margin: 0 15px;
    justify-content: space-between;
}

.modal-close {
    font-size: 32pt;
    color: black;
    text-decoration: none;
}

.modal {
    position: fixed;
    z-index: 150;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    overflow-y: scroll;
    padding: 30px;
}

.modal h2 {
    margin: 0;
}

.hide {
    display: none;
}
