<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index of {{ .CurrentDir }}</title>
    <link rel="stylesheet" href="assets/list.css">
</head>

<body>
<h1>Index of {{ .CurrentDir }}</h1>

<ul>
    {{ if .HasParent }}
    <li><a href="list?path={{ .ParentDir }}">../</a></li>
    {{ end }}
</ul>
<div>
    {{ range .Items }}
    <div class="item">
        {{ if .IsDir }}
        📂
        <a href="list?path={{ .Path }}">
            {{ .Name }}/
        </a>
        {{ else }}
        <a href="read?path={{ .Path }}">
            <img src="thumb?path={{ .Path }}" alt="{{ .Name }}" class="thumb" loading="lazy"><br />
            {{ .Name }}
        </a>
        {{ end }}
    </div>
    {{ end }}
</div>

<hr />
<a href="legal">Legal info</a>
</body>

</html>