<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .ComicTitle }} - Reader</title>
    <link rel="stylesheet" href="assets/read.css">
    <meta name="baggage" content="{{ .SentryBaggage }}"/>
    <meta name="sentry-trace" content="{{ .SentryTrace }}"/>
    <script
        src="https://browser.sentry-cdn.com/10.19.0/bundle.tracing.replay.feedback.min.js"
        integrity="sha384-92N5u8Kf3n6PjH0F76yRkyEvEF5R0At4k2Ptj7eLJQqdHD3nhhFAezd3HbpbSNo8"
        crossorigin="anonymous"
    ></script>
    <script>
    Sentry.init({
        dsn: "{{ .SentryDSN }}",
        integrations: [
            Sentry.browserTracingIntegration(),
        ],
        tracesSampleRate: 1.0,
        tracePropagationTargets: ["{{ .ServerHost }}"],
    });
    </script>
</head>

<body>
<header>
    <div>
        <a href="list?path={{ .ParentDir }}">Back</a>
    </div>
    <div>
        {{ .ComicTitle }}
    </div>
</header>
<div class="page-container">
    <div class="page-img-list-container">
        {{ range .Pages }}
        <div class="page-img-container" id="{{ .PageNo }}">
            {{ if eq .PageNo 1 }}
                <img class="page" src="img?path={{ $.Path }}&f={{ .ImageFile }}" alt="Page {{ .PageNo }}" loading="eager" />
            {{ else }}
                <img class="page" src="img?path={{ $.Path }}&f={{ .ImageFile }}" alt="Page {{ .PageNo }}" loading="lazy" />
            {{ end }}
        </div>
        {{ end }}
    </div>
    <a class="prev-controller" href="javascript:void(0)" onclick="chPageDec(0)"></a>
    <a class="next-controller" href="javascript:void(0)" onclick="chPageInc(0)"></a>
</div>
<footer>
    <div>
        <a href="javascript:void(0)" onclick="chPageDec(0)">Prev</a>
    </div>
    <div>
        <a id="pgNum" href="javascript:void(0)" onclick="pageSelect()">1</a> / {{ .PageCnt }}
    </div>
    <div>
        <a href="javascript:void(0)" onclick="chPageInc(0)">Next</a>
    </div>
</footer>
<script>
    const pageCnt = {{ .PageCnt }};
</script>
<script src="assets/read.js"></script>
</body>

</html>
