<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .ComicTitle }} - Reader</title>
    <link rel="stylesheet" href="assets/read.css">
</head>

<body>
<header>
    <div>
        <a href="list?path={{ .ParentDir }}">Back</a>
    </div>
    <div>
        {{ .ComicTitle }}
    </div>
</header>
<div class="page-container">
    <div class="page-img-list-container">
        {{ range .Pages }}
        <div class="page-img-container" id="{{ .PageNo }}">
            <img class="page" src="img?path={{ $.Path }}&f={{ .ImageFile }}" alt="Page {{ .PageNo }}" loading="lazy"
                 srcset="img?path={{ $.Path }}&f={{ .ImageFile }}&size=320 320w,
                    img?path={{ $.Path }}&f={{ .ImageFile }}&size=640 640w,
                    img?path={{ $.Path }}&f={{ .ImageFile }}&size=1280 1280w,
                    img?path={{ $.Path }}&f={{ .ImageFile }}&size=1920 1920w,
                    img?path={{ $.Path }}&f={{ .ImageFile }}&size=2560 2560w,
                    img?path={{ $.Path }}&f={{ .ImageFile }}&size=3840 3840w"
            />
        </div>
        {{ end }}
    </div>
    <a class="prev-controller" href="javascript:void(0)" onclick="chPageDec(0)"></a>
    <a class="next-controller" href="javascript:void(0)" onclick="chPageInc(0)"></a>
</div>
<footer>
    <div>
        <a href="javascript:void(0)" onclick="chPageDec(0)">Prev</a>
    </div>
    <div>
        <a id="pgNum" href="javascript:void(0)" onclick="pageSelect()">1</a> / {{ .PageCnt }}
    </div>
    <div>
        <a href="javascript:void(0)" onclick="chPageInc(0)">Next</a>
    </div>
</footer>
<script>
    const pageCnt = {{ .PageCnt }};
</script>
<script src="assets/read.js"></script>
</body>

</html>