name: E2E Test

on:
  push: {}
  pull_request: {}
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Set up Docker
        uses: docker/setup-docker-action@v4
        with:
          version: latest

      - name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: latest

      - name: Prepare default config
        run: cp config.docker.json config.json

      - name: Start dev compose
        run: docker compose -f docker-compose.dev.yaml up --wait --build

      - name: bun install
        run: bun install
        working-directory: frontend

      - name: Cypress run
        run: bun cypress run
        working-directory: frontend